<ul class="faq">
  <li>
    1. How much does it cost?
    <p class="txt-small txt-grey active">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
      quibusdam architecto blanditiis modi sint alias magnam odio. Qui, quasi
      deserunt!
    </p>
  </li>
  <li>
    2. How to use it?
    <p class="txt-small txt-grey">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
      quibusdam architecto blanditiis modi sint alias magnam odio. Qui, quasi
      deserunt!
    </p>
  </li>
  <li>
    3. Whitch plateform can we use with?
    <p class="txt-small txt-grey">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
      quibusdam architecto blanditiis modi sint alias magnam odio. Qui, quasi
      deserunt!
    </p>
  </li>
  <li>
    4. Does it come with lifetime access?
    <p class="txt-small txt-grey">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
      quibusdam architecto blanditiis modi sint alias magnam odio. Qui, quasi
      deserunt!
    </p>
  </li>
</ul>
