<footer class="footer">
  <form>
    <h3>Join our community</h3>
    <div class="search-form">
      <input type="text" placeholder="info@reanmore.email" />
      <button class="btn btn-secondary btn-square">Join Now</button>
    </div>
  </form>
  <div class="support-about">
    <h3 class="heading-small">Support</h3>
    <ul class="sa-list">
      <li>FAQ</li>
      <li>Contact us</li>
      <li>Outlook Plugings</li>
      <li>Live Charting</li>
    </ul>
  </div>
  <div class="support-about">
    <h3 class="heading-small">About us</h3>
    <ul class="sa-list">
      <li>About us</li>
      <li>Feature items</li>
      <li>Live streaming</li>
      <li>Policy and privacy</li>
    </ul>
  </div>
</footer>
