<div class="team">
  <div class="team-image">
    <img src="src/images/our team/Leader.webp" alt="" />
  </div>
  <div class="team-info">
    <h4 class="team-name">Heng Menghoy</h4>
    <span class="position">Creative Leader</span>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ducimus.
    </p>
    <div class="social-media">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</div>
