<div class="testinmonial-card">
  <div class="tc-image">
    <img src="src/images/our team/It manager.webp" alt="" />
  </div>
  <span class="star">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <i class="fa-regular fa-star"></i>
  </span>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda est
    consectetur unde eaque, ipsum fuga dignissimos perspiciatis saepe odit
    aspernatur ex ducimus deserunt nobis molestias, soluta ab facere nesciunt
    dolorem?
  </p>
  <span>Heng Menghoy</span>
</div>
